<div class="panel panel-primary" style="width: 650px; margin: 40px;">
    <div class="panel-heading">
        Edit Reader
    </div>

    <div class="panel-body">
        <table>
            <tbody *ngIf="book">
                <tr class="row">
                    <label class="col-md-4 control-label" for="productNameId">Reader Name:</label>
                    <input class="col-md-8" name="author" [(ngModel)]='author' ngModel required placeholder={{book.author}}>
                </tr>
                <tr> 
                    <button class="btn btn-ok"  (click)='submit()'>Edit</button>
                    <button class="btn btn-danger" (click)='cancel()'>Cancel</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>