<div class="panel panel-primary" style="width: 650px; margin: 40px;">
    <div class="panel-heading">
        Add Reader
    </div>

    <div class="panel-body">
        <form #myform="ngForm" (ngSubmit)="create(myform)" class="form form-register">
            <table>
                <tbody>
                    <tr class="row">
                        <label class="col-md-4 control-label" for="productNameId">Name:</label>
                        <input class="col-md-8" name="name" ngModel required>
                    </tr>
                    <tr> 
                        <button type="submit" class="btn ok-btn"  value="create">Add</button>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
